<router-outlet></router-outlet>
<footer>
  <div
    class="footer-item"
    routerLink="/home"
    routerLinkActive="active"
    #rlaHome="routerLinkActive"
    (mouseenter)="homeIsHovered = true"
    (mouseleave)="homeIsHovered = false"
  >
    @if(rlaHome.isActive || homeIsHovered ) {
    <svg
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-vlxjld r-lwhw9o r-cnnz9e"
    >
      <g>
        <path
          d="M21.591 7.146L12.52 1.157c-.316-.21-.724-.21-1.04 0l-9.071 5.99c-.26.173-.409.456-.409.757v13.183c0 .502.418.913.929.913H9.14c.51 0 .929-.41.929-.913v-7.075h3.909v7.075c0 .502.417.913.928.913h6.165c.511 0 .929-.41.929-.913V7.904c0-.301-.158-.584-.408-.758z"
        ></path>
      </g>
    </svg>
    } @else{
    <svg
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-vlxjld r-lwhw9o r-cnnz9e"
    >
      <g>
        <path
          d="M21.591 7.146L12.52 1.157c-.316-.21-.724-.21-1.04 0l-9.071 5.99c-.26.173-.409.456-.409.757v13.183c0 .502.418.913.929.913h6.638c.511 0 .929-.41.929-.913v-7.075h3.008v7.075c0 .502.418.913.929.913h6.639c.51 0 .928-.41.928-.913V7.904c0-.301-.158-.584-.408-.758zM20 20l-4.5.01.011-7.097c0-.502-.418-.913-.928-.913H9.44c-.511 0-.929.41-.929.913L8.5 20H4V8.773l8.011-5.342L20 8.764z"
        ></path>
      </g>
    </svg>
    }
  </div>

  <div
    class="footer-item likers-button"
    routerLink="/liked"
    routerLinkActive="active"
    #rlaLikers="routerLinkActive"
    (mouseenter)="likersIsHovered = true"
    (mouseleave)="likersIsHovered = false"
  >
    @if(likedAnimalsLength > 0){
    <span>{{ likedAnimalsLength }}</span>

    } @if(rlaLikers.isActive || likersIsHovered){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      data-name="Layer 1"
      viewBox="0 0 100 125"
      x="0px"
      y="0px"
    >
      <polygon points="22.5 50 50 11.92 77.5 50 50 88.08 22.5 50" />
    </svg>
    } @else{

    <svg
      xmlns="http://www.w3.org/2000/svg"
      data-name="Layer 1"
      viewBox="0 0 100 125"
      x="0px"
      y="0px"
    >
      <defs>
        <style>
          .cls-1 {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 10;
            stroke-width: 3px;
          }
        </style>
      </defs>
      <polygon class="cls-1" points="24 50 50 14 76 50 50 86 24 50" />
    </svg>
    }
  </div>
</footer>
